
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;
    background: #121A1C 100%;
    padding: 20px 0px;
}

.logo{
}

body{
    margin: initial;
}


.navbar .widget-wrap {
  
    width: 100%;
}

.navbar .logo {
    width: 100%;
    margin-right: auto;
}

.navbar .menu {
    list-style: none;
    display: flex;
}

.navbar .menu li {
    margin-right: 20px; 
}

.navbar .menu li:last-child {
    margin-right: 0; 
}

.navbar .menu li a {
    text-decoration: none;
    color: #fdfbfb; 
}


:root {
    --e-nav-menu-horizontal-menu-item-margin: calc(3px / 2);
    --e-nav-menu-divider-color: var(--e-global-color-text);
    --widgets-spacing: 20px 20px;
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}


.botao {
    display: flex;

}

.botao button {
    margin-bottom: 3px;
}

.bot2{
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #f5ececf3;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF1C;

    cursor: pointer;
    border-radius: 12px 12px 12px 12px;
    padding: 18px 40px 19px 40px;
        width: 100%;
        margin: 0px 0px 0px 20px;
}

.bot1{
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #FFFFFF12;
    border-style: solid;

    cursor: pointer;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF1C;
    border-radius: 12px 12px 12px 12px;
    padding: 18px 40px 19px 40px;
        color: white;
    width: 100%;


}

.principal{
    background: linear-gradient(to bottom, #121A1C, #2A3536);
    
}

body {
    background-color: #121A1C;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5
}

@media screen and (max-width: 850px) {


}


@media screen and (max-width: 850px) {

.content{
    flex-direction: column;
}
.navbar{
    display: flex;
    flex-direction: column;
}
.container-fluid1{
    display: none;
}
#registerId1{
display: none;
}

#loginId1{
    display: none;
}

#registerId{
    display: flex !important;
}

#loginId{
    display: flex !important;
}

#HeaderItems{
    display: none;
    }
    
 
    #mobileHeaderItems{
        display: flex !important;
    }
    
  

}

#loginId{
    display: none;

   
}

#registerId{
       display: none; 
}


#mobileHeaderItems{
    display: none;
   
}

#pts{
       display: none; 
}

#eng{
    display: none; 
}

.login{

    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #f5ececf3;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF1C;
    border-radius: 12px 12px 12px 12px;
    padding: 16px 16px 16px 16px;
    margin-left: 5px;

}

.register{
    
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #FFFFFF12;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF1C;
    border-radius: 12px 12px 12px 12px;
    padding: 16px 16px 16px 16px;
    color: white;
}

.banner {
    padding: 100px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to top,  orange -450%, #121A1C 100% ); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0% 0% 0% 0%;
    font-family: 'Inter', sans-serif;
}



.weef-section .weef-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--e-global-color-46ccc75) 0%, #121A1C85 100%);
    opacity: 1;

}

.weef-section .weef-background-overlay,
.weef-section .weef-background-slideshow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}


.background{
    background: #121A1C 100%;

}
.weef-element {
    --widgets-spacing: 20px 20px;
}

.weef-element,
.weef-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

.weef-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
}


.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    padding: 60px 40px 20px 40px;
    z-index: 10;
  
}
@media (max-width: 1024px) {
    .container-fluid {
        padding: 60px 20px 20px 20px;
    }
}

.container-fluid1 {
    display: flex;
    vertical-align: middle;
    width: 100%;
    justify-content: center;

  
}

.smart {
    font-size: 12vw;
    color: rgb(255, 255, 255); 
    margin-top: 5%;
    margin-bottom: 10%;
}

.smart::after {
    content: '.'; 
    color: orange; 
}





.menuItem{
    color: #FFFFFF78;
    fill: #FFFFFF78;
   

}



.menu li:first-child {
    margin-left: 0px; 
}

.menu li:last-child {
    margin-right: 0;
}
.menu {
    
    justify-content: center; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
   
}


.menu li a {
    padding: 5px 10px; 
    border-radius: 10px; 
    background-color: transparent; 
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease; 
}

.menu li a:hover {

    background-color: rgba(255, 255, 255, 0.5); 
    color: #000;
}

.navbar {
    unicode-bidi: isolate;
}

.cel{
    width: 100%;
    height: 75vh;
    object-fit: contain;
    transition-duration: 1.6s;
}




.weef-headline-dynamic-text {
    display: none;
}

.weef-headline-dynamic-text.active {
    display: inline-block;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 850px) {
    .weef-headline-animation-type-slide-down .weef-headline-dynamic-text {
     
        font-size: 2rem !important;

    }
}
.weef-headline-animation-type-slide-down .weef-headline-dynamic-text {
    animation: slideDown 0.5s ease-in-out forwards;
    overflow: hidden;
    font-size: 4rem;
    vertical-align: top;
}

.weef-headline-animation-type-slide-down .weef-headline-text-wrapper {
    display: inline-block;
    padding: .2em 0;
    transition: width .5s;
    width: 108.25px; 
}


.weef-headline.weef-headline-animation-type-slide-down {
    left: 15px;
    top: 50%;
    transform: translateY(-85%);
        text-align: start;
    margin-left: 11%;
    padding: initial;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: -13.5%;
}

.weef-headline.weef-headline-animation-type-slide-down .weef-headline-dynamic-wrapper {
    font-size: 40px; 
}

.weef-headline-dynamic-text {
    color: orange !important;
}

.celular{
    transform: translateY(var(--translateY));
    --translateY: 6.6px;

}

.main {
    background: linear-gradient(290deg, #181e1f 40%, #2a3536 96%);
    border-radius: 15px;
    width: 80%;
        margin: 0 auto;
    z-index: 99999;
    overflow: hidden;
    position: relative;

}
.mainto {
    background: linear-gradient(to right, #11181a, #2A3536);
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 5%;

}

.cont {
    display: flex;
   
    
}

.col {
    flex: 1;
    padding: 20px;
}

.wid {
    color: #fff;
}

.wid img {
    display: block;
}

.wid h1 {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

.letrinhas {
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px 0 20px;
    z-index: 999999;
}

@media (max-width: 1024px){
.weef-row {
    flex-wrap: wrap;
}
.weef-row {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    height: 50vh;
}
.weef *, .weef :after, .weef :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.weef-element {
    --widgets-spacing: 20px 20px;
}
}

.tickets {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 140px 20px 140px 20px;
    justify-content: center;
}

.rotatingTickets {
    
    width: initial;
}

.rotatingTicket {
    width: initial;
}

.customclass {
    background-image: url(../assets/images/ticket1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, orange 70%, #e2e2e7 60%) 1;
}

#ticket2{
    background-image: url(../assets/images/ticket2.webp) !important;

}
.customclasse {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    min-height: 240px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, orange 70%, #e2e2e7 60%) 1;
}

.qrDiv {
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    width: 100%;
    display: flex;
    align-items: center; 
}

.infoDiv {
    background-color: white;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    display: flex;
    padding: 15px 0px 0px 0px
}

.transferir {
    display: flex;
    background: #2d383b;
    justify-content: center;
    border-radius: 0px 0px 12px 12px;
    padding: 30px 20px 30px 20px;
    width: 100%;
}

.informationContainer, .information2Container {
    width: 100%; 
}


.inf{
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    fill: orange;
    color: orange;
    background-color: 07B9E41C;
    border-radius: 6px 6px 6px 6px;
    padding: 14px 0px 14px 0px;
    border: none;
    width: 100%;  
}

.infoDiv {
    display: flex;
    flex-direction: column-reverse;
}

.informationContainer {
    order: 1; 
}

.information2Container {
    order: 2; 
}


.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(https://www.quentro.com/wp-content/uploads/2022/07/main_background.svg);
    background-size: cover;
    position: relative;
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.199); 
}

.message-container {
    z-index: 1; 
}

.conversation-row {
    display: flex;
    justify-content: center;
}





.baixe-section {
    width: 100%;
    padding: 150px 20px;
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#121A1C; 
    border-radius: 12px;
    font-family: "Inter", sans-serif;
    font-size: 18px; 
    font-weight: 500; 
    color: white; 
}

.baixe-heading {
    margin-right: auto; 
    font-size:f 1.7rem;
}





.app-button, .play-button {
    display: inline-block;
    height: 68px;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 500;
    background-color: #FFFFFF12;
    border: 1px solid #FFFFFF0D;
    border-radius: 12px;
    padding: 21px 50px 0px 0px;
    color: white;
    margin-left: 18px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    line-height: 1;
    box-shadow: none;
   
}


.buttons{
    display: flex;
}

.weef-section.element-597271d {
    --e-transform-transition-duration: 100ms;
    position: relative;
}

.weef-section.element-597271d:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

.weef-section.element-597271d > .weef-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(300deg, #035D4C 0%, #033E4D 100%);
    opacity: 0.89;
}

.weef-section.element-597271d > .weef-motion-effects-container > .weef-motion-effects-layer {
    width: 100% !important;
    height: 100% !important;
    --scale: 1.49576;
    transform: scale(var(--scale)) !important;

    background-repeat: no-repeat;
    background-size: cover;
}

.weef-motion-effects-element, .weef-motion-effects-layer {
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0,.33,.07,1.03);
    transition-duration: 1s;
}

.weef *, .weef :after, .weef :before {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .weef-section.weef-section-boxed > .weef-container {
        max-width: 767px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .weef-section.weef-section-boxed > .weef-container {
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .weef-section.weef-section-boxed > .weef-container {
    }
}

@media (min-width: 1200px) {
    .weef-section.weef-section-boxed > .weef-container {
    }
}

@media (max-width: 1024px) {
    .weef-section .weef-container {
        flex-wrap: wrap;
    }
}

.weef-section .weef-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


.footer-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 40px;
    align-items: center;
}

.weef-widget-social-icons .weef-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    
    font-size: 0; 
}

.weef-widget-social-icons a {
    font-size: 20px;
}

.weef-11 .weef-element.weef-element-a974f05 .weef-widget-container {
    text-align: right;
    padding-right: 20px;
}

@media (max-width: 767px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .weef-11 .weef-element.weef-element-a974f05 .weef-widget-container {
        text-align: center;
        padding-right: 0;
    }

    .weef-11 .weef-element.weef-element-a974f05 .weef-social-icons-wrapper {
        justify-content: center;
    }
}

.fa-instagram:before {
    color: gray;

}

.fa-twitter:before {
    color: gray;
}

.fa-facebook:before {
    color: gray;
}

.weef-icon i:before,
.weef-icon svg:before {
    left: 50%;
    transform: translateX(-50%);
}

.weef-11 .weef-element.weef-element-a974f05 .weef-social-icon i {
    color: #FFFFFF5C;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
}
.weef-11 .weef-element.weef-element-597271d > .weef-container > .weef-row > .weef-column > .weef-column-wrap > .weef-widget-wrap {
    align-content: center;
    align-items: center;
}
.weef-11 .weef-element.weef-element-a82bdf9.weef-column > .weef-column-wrap > .weef-widget-wrap {
    justify-content: center;
}
.weef-11 .weef-element.weef-element-a82bdf9 > .weef-element-populated > .weef-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.weef-column-gap-default>.weef-row>.weef-column>.weef-element-populated>.weef-widget-wrap {
    padding: 10px;
}
.weef:not(.weef-bc-flex-widget) .weef-widget-wrap {
    display: flex;
}
.weef-widget-wrap {
  
    width: 100%;

    font-size: 30px;
}

i {
    font-style: italic;
}

.weef-11 .weef-element.weef-element-a974f05 .weef-social-icon {
    --icon-padding: 0.5em;
}

.weef-icon.weef-social-icon {
    font-size: var(--icon-size, 25px);
    line-height: var(--icon-size, 25px);
    width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
    height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
}

.weef-social-icon {
    --e-social-icon-icon-color: #fff;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    display: flex;
}

.weef-element {
   
    display: flex;
   
    align-items: center;
    padding: 11px 10px 3px 82px;
}

.footer {
    width: 100%; 
    height: 100px; 
    background-color: #333; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-logo {
    width: 50px; 
    height: auto; 
}

.footer-links {
    flex-grow: 1; 
    text-align: center; 
}

.footer-links a {
    margin: 0 20px;
    color: #fff; 
    text-decoration: none;
}

.footer-social-icons {
    display: flex; 
    gap: 10px; 
}

.footer-social-icons a {
    color: #fff;
    font-size: 20px;
}

.footer-social-icons a:hover {
    color: orange;
}


.privaci {
    text-decoration: none;
    color: #FFFFFF5C;
    transition: color 0.3s; 
}

.privaci:hover {
    color: orange; 
}


.weef-image{
    margin-right: 90px;
    margin-left: -350px;
}
.weef-social-icons-wrapper {
    margin-left: 150px;
}
.texto {
    margin-top: 1em; 
}


.buttonWeef{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 1024px) {
    .buttonWeef {
        max-width: 1024px;
        flex-direction: column;

    }
}

@media (max-width: 767px) {
    .buttonWeef {
        max-width: 767px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .cel {
        height: 64vh;
    }

    .event-image {
        width: 100%;
        cursor: pointer;
        display: block;
        border-radius: 10px;
        height: 110px !important;
    }
}

@media (max-width: 767px) {
    .cel {
        width: 100%;
        height: 388px;
    }
}

#smatTickets{
    margin-bottom: -40%;  margin-top: 20%;
}

@media (max-width: 1024px) {
    #smatTickets {
        margin-bottom: initial;
    }
    .smart{
        margin-bottom: 35%;
    }
   .banner{
    padding: 23% 0% 0% 0%;
   }
}

@media (max-width: 767px) {
    #smatTickets {
        margin-bottom: initial;
    }

    .smart{
        margin-bottom: 35%;
    }
    .banner{
        padding: 23% 0% 0% 0%;
    }
}

#animate {
    transform: translateY(calc(80.16982%));
    transition: transform 1.3s ease;
}
.padding{
    background-color: #121A1C;
    padding: 2%;
position: relative;
z-index: 999;
}

.buttonsContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    width: 100%;
    padding: 60px 0px 0px 0px;
    text-align: center;
overflow: hidden;
}

.imgPhoneMain{
    width: 70%;
}
.acima{
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    color: orange;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    animation-duration: .75s;
    animation-name: fadeInRight;


}

.meio{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.abaixo{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 28px;
    font-size: 1.3rem;
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}





#smartTickets {
    transition-timing-function: cubic-bezier(0, .33, .07, 1.03);
    transition-duration: var(--e-transform-transition-duration, 1s);
    
    transform-origin: var(--e-transform-origin-y, 0) var(--e-transform-origin-x, 0);
    transform: translateY(50%); 
  
  
    animation-name: fadeInAnimation;
    animation-duration: 2s;
  }

  @keyframes fadeInAnimation {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }

  #imgPhone{
    transform: translateY(calc(80.16982%));
    transition: transform 1.3s ease;
}

  #imgPhone1{
    transform: translateY(calc(80.16982%));
    transition: transform 1.3s ease;

  }

  #imgPhone2{
    transform: translateY(calc(80.16982%));
    transition: transform 1.3s ease;
  }

  

#overflowHidden{
    overflow: hidden;
}

#footer{
    display: flex;
    align-items: center;
    text-align: center;
    padding: initial;
}

#div1{
width: 100%;
padding: initial;
display: flex;
align-items: center;
justify-content: center;
}

#div2{
    width: 100%;
    padding: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div3{
    padding: initial;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#divFooterPrincipal{
    display: flex;
    width: 100%;
    align-items: center;
}

#dudas{
    font-size: 2rem;
}

.customclass{
    min-height: 240px;
}


.informationContainer p{
    color: #2A353699;
    font-family: "Inter", Sans-serif;
    font-size: 9px;
    font-weight: 600;
    margin-bottom: -4%;
    text-transform: uppercase;
}
.information2Container{
    color: #2A353699;
    font-family: "Inter", Sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.information2Container p {
    margin-bottom: -4%;
}
.information2Container h2{
    color: #2A3536;
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 0.1rem;
}

.informationContainer h2{
    color: #2A3536;
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 0.1rem;
}

#infodiv1{
    margin: 10px;
}

.mainDiv{
    width: 100%;
    padding: 18px 18px 18px 18px
}

.gridDiv {
    background-color: white;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    display: grid;
    padding: 15px 20px 0px 15px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;  
}

.transfero {
    background-color: transparent;
    border: none;
    display: flex;
    color: white;
    font-size: 18px;
}

.flexTransfer {
    display: flex;
}
.transferDiv2 {
    margin-left: 10px;
}

.rotatingTickets {
    transition: transform 0.3s; 
    margin-right: 2%;
        width: 35vh;
}
  
.rotatingTickets:hover {
    transform: rotateX(20deg);
  }
  
  .rotatingTickets1:hover {
    transform: rotateX(20deg); 
  }
.backgroundTickets{
    background: radial-gradient(circle at 50% 55%, #124C58 -20%, #121A1C 43%);

}
#rotatingTickets1{
    border-radius: 20px;
    box-shadow: -48px -21px 57px 3px rgba(0, 0, 0, 0.42);
}

@media (max-width: 850px) {
    #rotatingTickets1{
        display: none;
    }
    .informationContainer h2{
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    #rotatingTickets1{
        display: none;
    }
    .informationContainer h2{
        font-size: 13px;
    }
}

.swiper-container {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    background: #fff;
    position: relative;
}

.swiper-button-next, .swiper-button-prev {
    color: #000;
}

.slide-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.event-image {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.swiper-slide:hover .event-info {
    display: block; 
}

.event-info1 {
    display: none; 
}

.event-info1 h3 {
    font-size: 1.2rem; 
    margin-bottom: 10px; 
}

.event-info p1 {
    margin-bottom: 8px; 
}

.event-info1 i {
    margin-right: 8px; 
}
