*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a.active {
    background-color: orange;
}

.content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-info {
    text-align: right;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-logout {
    background-color: #333;
}

.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.event-item {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-item h2 {
    color: orange;
    margin-bottom: 10px;
}

.event-item p {
    margin: 5px 0;
}

.event-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.event-actions a {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.event-actions a:hover {
    opacity: 0.8;
}

.btn-edit {
    background-color: #007bff;
}

.btn-delete {
    background-color: #dc3545;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .sidebar {
        width: 100%; 
        min-width: 0; 
    }

    .content {
        padding: 10px;
    }

    .cards-container {
        flex-direction: column; 
    }
    .user-info{
        display: flex;
        flex-direction: column;
    }

}

.event-image {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}
